* {
    font-family: 'Montserrat', sans-serif;
}


#usersTable, #QuestionTable {
    margin-top: 10px;
    border: 1px black solid;
}

#usersTable_filter > label > input {
    margin-left: 5px;
}
#QuestionTable > label > input {
    margin-left: 5px;
}
.container {
    padding-top: 40px;
}

#usersTable td, #usersTable th, #QuestionTable td, #QuestionTable th {
    padding: 10px;
    font-size: 18px;
}

.control {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.control > input, .control > label, .control > select {
    margin: 15px;
    width: 130px;
}


.modal .modal-content #addQuestionForm {
    width: 75%;
    height: 300px;
}

.modal .input-box input {
    height: 60%;
}

/*#addQuestionByGemini {
    margin-top: 4%;
    font-size: 20px;
}*/


.btn-admin {
    font-size: 15px;
    width: 25%;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: #03a696;
    color: #ffffff;
}
