body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

main {
  font-family: 'poppins', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgba(0, 0, 0, 0.6);
  direction: rtl;
}

.container {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.issue {
  width: 80%;
  height: auto;
  border: 1px solid #03a696;
  border-radius: 5px;
  color: black;
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.locked {
  background-color: #f1f1f1;
  color: #909090;
}

.unlocked {
  background-color: #fcfcfc;
}

.issue-headers {
  width: 90%;
}

.create-details {
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
  display: flex;
}

.date-time {
  padding: 5px 8px;
}

.creator {
  display: flex;
  padding: 5px 8px;
}

.title {
  padding: 5px 12px;
  cursor: pointer;
}

.issue-content {
  /* margin: 10px 10px; */
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out, padding 0.5s ease-in-out;
}

.issue.open .issue-content {
  max-height: 1000px;
  /* ערך גבוה מספיק שיתאים לתוכן */
  padding: 15px 30px;
}

.issue.close .issue-content {
  max-height: 0;
  padding: 0;
}

.num-of-comments {
  padding: 5px 10px;
  font-size: 12px;
}

.expand {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
}

.goPrev {
  padding: 10px;;
  color: #03a696;
  cursor: pointer;
}