* {
    box-sizing: border-box;
}

main {
    direction: rtl;
    font-size: 14px;
}
/* may be needed for page design
main {
    display: flex;
    justify-content: end;
} */

.container {
    direction: rtl;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 600px;
    row-gap: 10px;
    column-gap: 0px;
}

.options {
    margin-right: 25px;
}

.question {
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    padding: 15px;
    margin: 8px;
    transition: 0.3s ease;
    overflow: hidden;
    display: flex;
    align-items: start;
    justify-content: space-between;
    /* transition: align-items 0.6s;
    transition: height 0.6s ease;
    transition: max-height 0.6s ease;*/
}

.closed {
    height: 50px;
    width: 500px;
    transition: 0.6s ease;
    align-items: center;
}

.open {
    height: 260px;
    width: 500px;
    padding: 30px 18px;
    transition: 0.6s ease;
}

.question-content {
    width: 100%;
    display: inline-block;
}

.question img {
    width: 20px;
    height: 20px;
}

h2 {
    color: #03a696;
    margin: 0;
    margin-top: 10px;
    text-align: center;
}

.question-wrapper {
    height: 100%;
}

.closed .options {
    height: 0;
    opacity: 0;
}

.closed .explanation {
    height: 0;
    opacity: 0;
}

.open .options {
    /* height: auto; */
    opacity: 1;
}

#charts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.chart-container {
    width: 45%;
    margin: 20px;
}

.small-chart {
    width: 25%; /* קביעת רוחב קטן יותר לגרף הקוטבי */
    height: 25%; /* קביעת גובה קטן יותר לגרף הקוטבי */
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 20px 0;
}

.timeline {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    position: relative;
    padding: 20px 0;
    list-style-type: none;
}

.timeline-container {
    display: flex;
    flex-direction: row;
    position: relative;
    margin-left: 50px;
    overflow-x: scroll; /* כדי לאפשר גלילה אופקית */
}

.timeline-item {
    margin-right: 20px;
    position: relative;
}

.timeline-item-content {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    width: 250px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

    .timeline-item-content .tag {
        display: inline-block;
        padding: 5px 10px;
        border-radius: 5px;
        font-size: 14px;
        color: white;
        margin-bottom: 10px;
    }

    .timeline-item-content .circle {
        width: 12px;
        height: 12px;
        background: #2196F3;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -20px;
    }
