* {
    box-sizing: border-box;
}

.container {
    direction: rtl;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 10px;
    column-gap: 0px;
    
}

.col1, .col2 {
    width: 550px;
    margin: 0;
}

.question {
    border: 1px solid rgba(0,0,0,0.6);
    border-radius: 15px;
    padding: 15px;
    margin: 25px;
    transition: 0.3s ease;
    overflow: hidden;
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.closed {
    height: 50px;
    width: 500px;
    transition: 0.3s ease;
}

.open {
    height: 200px;
    padding-top: 30px;
    
    transition: 0.3s ease;
}

.question-content {
    width: 80%;
    display:inline-block;
}

.question img {
    width: 20px;
    height: 20px;
}

h1 {
    color: #03a696;
    margin: 0;
    margin-top: 10px;
    text-align: center;
}